main{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.playlistHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

div.playlistTile {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: calc(25% - (45px / 4));
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3cap;
}

div.playlistTile:hover {
  background-color: #474747;
}

.playlistOptions{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.songSection{
  background-color: rgba(0, 0, 0, 0.107);
  border-radius: 12px;
  padding: 10px
}

.coverArtWrapper{
  max-width: 300px;
}

.add-song-icon {
  font-size: 40px;
  color: black;
}

.deleteButton{
  background-color: maroon;
}

.deleteButton:hover{
  filter: brightness(0.75);
}

.delete-song-button{
  background-color: maroon;
}

.delete-song-button:hover{
  filter: brightness(0.75);
}

.editButton{
  background-color: rgb(154, 83, 2);
}
.editButton:hover{
  filter:brightness(0.75)
}

.songSection{
  display: flex;
  flex-direction: column;
}


.song-row{
  display: flex;
  gap: 10px
}