
div.playlistCard{
    background-color: #e2e2e2;
    display: flex;
    flex-direction: row;
    width: calc(25% - (45px / 4));
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 12px;
}