.navbar{
    position: fixed;
    top: 0;
    left: 0;
    background: #5e5e5eea;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2eda2566;
    z-index: 9;
}

.navbar a{
    color: #129633;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar a:hover{
    color: #2eda25;          
}

